<div class="container mb-3">
  <div class="row">
    <div class="col">
      <div class="float-right">
        <%= link_to 'Back', services_path, class: 'btn btn-light' %>
        <% if current_user.has_role? :manager %>
        <%= link_to 'Edit', edit_service_path(@service), class: 'btn btn-primary' %>
        <%= link_to 'Destroy', @service, method: :delete, data: { confirm: t('confirm') }, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<p>
  <strong>Title:</strong>
  <%= @service.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @service.content %>
</p>