<h1><%= @title %></h1>
<%= simple_form_for(@part) do |f| %>
  <div class="my-3 mt-3">
    <%= f.button :submit, class: 'btn btn-primary'%>
    <%= yield :links %>
  </div>
  <%= f.error_notification %>

  <div class="row">
    <div class="col"><%= f.input :title %></div>
    <div class="col"><%= f.input :code %></div>
  </div>
  <div class="row">
    <div class="col"><%= f.input :price, input_html: {min: 0} %></div>
    <div class="col"><%= f.input :quantity, input_html: {value: @part.recalculation_quantity, min: 1} %></div>
    <div class="col"><%= f.input :unit, collection: @part.units, prompt: :translate %></div>
  </div>
<% end %>
