<div class="container mb-3">
  <div class="row">
    <div class="col">
      <div class="float-right">
        <%= link_to 'Back', jobs_path, class: 'btn btn-light' %>
        <% if current_user.has_role? :manager %>
        <%= link_to 'Edit', edit_job_path(@job), class: 'btn btn-primary' %>
        <%= link_to 'Destroy', @job, method: :delete, data: { confirm: t('confirm') }, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @job.content %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@job.price) %>
</p>

<p>
  <strong>Service:</strong>
  <%= @job.service.to_label %>
</p>