<div class="container mb-3">
  <div class="row">
    <div class="col">
      <div class="float-right">
        <%= link_to 'Back', oils_path, class: 'btn btn-light' %>
        <% if current_user.has_role? :manager %>
        <%= link_to 'Edit', edit_oil_path(@oil), class: 'btn btn-primary' %>
        <%= link_to 'Destroy', @oil, method: :delete, data: { confirm: t('confirm') }, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<p>
  <strong>Title:</strong>
  <%= @oil.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @oil.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @oil.code %>
</p>
<p>
  <strong>Total quantity:</strong>
  <%= @oil.total %>
  <%= @oil.unit_text %>
</p>
<p>
  <strong>Quantity:</strong>
  <%= @oil.quantity %>
  <%= @oil.unit_text %>
</p>