<div class="col mb-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= client.title %></h4>
      <h6 class="card-subtitle mb-2 text-muted"><%= client.user.to_label %></h6>
      <p class="card-text"><%= number_to_phone(client.phone, area_code: true) %></p>
      <p class="card-text"><%=client.cars.size%> cars on service</p>
    </div>
    <div class="card-body">
      <%= link_to 'Show', client, class: 'card-link' %>
      <% if current_user.has_role? :manager  %>
        <%= link_to 'Edit', edit_client_path(client), class: 'card-link' %>
        <%= link_to 'Destroy', client, class: 'card-link', method: :delete, data: { confirm: t('confirm') } %>
      <% end %>
    </div>
  </div>
</div>