<div class="container mb-3">
  <div class="row">
    <div class="col">
      <div class="float-right">
        <%= link_to 'Back', polymorphic_path([@trackable, History]), class: 'btn btn-light' %>
        <% if current_user.has_role? :manager %>
        <%= link_to 'Edit', edit_polymorphic_path([@trackable,@history]), class: 'btn btn-primary' %>
        <%= link_to 'Destroy', [@trackable, @history], class: 'btn btn-danger', method: :delete, data: { confirm: t('confirm') } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<p>
  <strong>Title:</strong>
  <%= @history.title %>
</p>
<p>
  <strong>Price:</strong>
  <%= number_to_currency(@history.price) %>
</p>
<p>
  <strong>Code:</strong>
  <%= @history.code %>
</p>
<p>
  <strong>Quantity:</strong>
  <%= @history.quantity %>
  <%= @trackable.unit_text %>
</p>
<p>
  <strong>Status:</strong>
  <%= @history.status_text %>
</p>

