<h1><%=@title%></h1>
<div class="container mb-3">
  <div class="row">
    <div class="col">
      <div class="float-right">
        <%= link_to 'New User', new_admin_user_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Sign in count</th>
      <th>Current sign in at</th>
      <th>Current sign in ip</th>
      <th colspan="3" class="w-25"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_users.each do |admin_user| %>
      <tr>
        <td><%= admin_user.email %></td>
        <td><%= admin_user.sign_in_count %></td>
        <td><%= admin_user.current_sign_in_at %></td>
        <td><%= admin_user.current_sign_in_ip %></td>
        <td><%= link_to 'Show', admin_user %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(admin_user) %></td>
        <td><%= link_to 'Destroy', admin_user, method: :delete, data: { confirm: t('confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= paginate @admin_users %>

<% if @admin_users.empty? %>
<h2 class="text-center text-muted"><%=t('no_records_found')%></h2>
<% end %>