<div class="container mb-3">
  <div class="row">
    <div class="col">
      <div class="float-right">
        <%= link_to 'Edit', edit_admin_user_path(@admin_user), class: 'btn btn-primary' %>
        <%= link_to 'Back', admin_users_path, class: 'btn btn-light' %>
        <%= link_to 'Destroy', @admin_user, method: :delete, data: { confirm: t('confirm') }, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
<p>
  <strong>Email:</strong>
  <%= @admin_user.email %>
</p>

<p>
  <strong>Sign in count:</strong>
  <%= @admin_user.sign_in_count %>
</p>

<p>
  <strong>Current sign in at:</strong>
  <%= @admin_user.current_sign_in_at %>
</p>

<p>
  <strong>Last sign in at:</strong>
  <%= @admin_user.last_sign_in_at %>
</p>

<p>
  <strong>Current sign in ip:</strong>
  <%= @admin_user.current_sign_in_ip %>
</p>

<p>
  <strong>Last sign in ip:</strong>
  <%= @admin_user.last_sign_in_ip %>
</p>
<div class="row">
  <%= render 'workers/worker', worker: @admin_user.worker if @admin_user.worker %>
  <% if @admin_user.client %>
  <div class="col-4">
    <%= render 'clients/client', client: @admin_user.client %>
  </div>
  <% end %>
  <% if @admin_user.clients.size > 0 %>
  <div class="col-4">
    <div class="card">
      <ul class="list-group list-group-flush">
        <% @admin_user.clients.each do |client| %>
            <li class="list-group-item"><%= client.to_label %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>
</div>